<!-- templates/lab_5/partials/header.html -->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">JADWALIN</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}" class="page-scroll">Home</a></li>
                <li><a href="{% url 'form' %}" class="page-scroll">Jadwalin!</a></li>
                <li><a href="{% url 'hasil' %}" class="page-scroll">Jadwalmu!</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>