<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
    @import url('https://fonts.googleapis.com/css?family=Chela+One');

    .header {
        background-image: url('https://s4.scoopwhoop.com/anj/ljh/688716061.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100%;
        weight: 100%;
    }

    .logo-title {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .top-title {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin-top: 150px;
    }

    .top-title h1 {
        font-family: 'Chela One', cursive;
        font-size: 75px;
    }

    .menu {
        padding: 50px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: rgb(104, 94, 105);
        opacity: 1;
        position: relative;
        z-index: 5;
        transition: background .2s linear;
        -webkit-transition: background .2s linear;
        -moz-transition: background .2s linear;
        -ms-transition: background .2s linear;
        -o-transition: background .2s linear;
    }

    .menu a:hover {
        text-decoration: none;
    }

    .menu li {
        list-style: none;
    }

    .menu li a {
        color: #fff;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 25px;
        position: relative;
        text-transform: uppercase;
    }

    .mh-1:hover .menu {
        background: #ddd;
        z-index: 12;
        overflow: hidden;
    }

    .menu a:hover::before {
        left: -20px;
        width: 15px;
    }

    .menu a::before {
        background: #fff;
        bottom: 6px;
        content: "";
        display: block;
        left: 5px;
        height: 1px;
        position: absolute;
        transition: all .2s ease-out;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        width: 0;
    }

    .myheader .menu {
        padding: 50px;
        padding-top: 10px;
        height: 130px;
        position: fixed;
        top: 0;
        width: 30%;
    }

    .myheader .header-left {
        position: fixed;
        top: 0;
        background-color: #151724;
        width: 60%;
        padding: 14px;
        height: 130px;
    }

    .myheader .menu li a {
        font-size: 15px;
    }

    .myheader .top-title {
        position: fixed;
        top: -120px;
        text-align: center;
        left: 30%;
    }

    .myheader .top-title h1 {
        font-size: 25px;
    }

    .myheader .logo-title {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .footer {
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jadwal.in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="header-left">
                </div>
                <div class="top-title">
                    <h1 class="animated infinite bounceInDown">JADWAL.IN</h1>
                    <h6 class="logo-title animated pulse">GIVE BETTER SOLUTION</h6>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menu">
                    <li class="f-item-1"><a href="/jadwal">Daftar Jadwal</a></li>
                    <li class="f-item-2"><a href="/form">Jadwalin!</a></li>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <h1>Aloha! © 2018</h1>
    </div>
</div>
<div class="container">
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(".f-item-1").hover(function () {
            $('.menu').css("background-color", "#8165a6");
        }, function () {
            $('.menu').css("background-color", "#685e69");
        });
        // f-item-2
        $(".f-item-2").hover(function () {
            $('.menu').css("background-color", "#735ed5");
        }, function () {
            $('.menu').css("background-color", "#685e69");
        });
        // f-item-3
        $(".f-item-3").hover(function () {
            $('.menu').css("background-color", "#797b7b");
        }, function () {
            $('.menu').css("background-color", "#685e69");
        });
        // f-item-4
        $(".f-item-4").hover(function () {
            $('.menu').css("background-color", "#1ea2e0");
        }, function () {
            $('.menu').css("background-color", "#d83f87");
        });
        // f-item-5
        $(".f-item-5").hover(function () {
            $('.menu').css("background-color", "#4a90e2");
        }, function () {
            $('.menu').css("background-color", "#685e69");
        });
    });
</script>
</body>
<footer></footer>
</html>