{% extends "layout/base.html" %}
{% block content %}
<header id="header" style="color: white">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 intro-text">
                        <form id="form" class="p-4 bg-light" method="POST"
                              style="width: 100%;" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h2 style="color: white" class="mb-4 text-center">Jadwalin!</h2>
                            <div class="form-group"><label>Nama</label>
                                <input required id="nama" name="nama" class="form-control" placeholder="Nama*"></div>
                            <div class="form-group"><label>NPM</label>
                                <input required id="npm" name="npm" class="form-control" placeholder="NPM*"></div>
                            <div class="form-row">
                                <div class="form-group col-md-6"><label>Semester</label>
                                    <input required id="term" name="term" type="number" class="form-control"
                                           placeholder="1 - 8*"
                                           max="8">
                                </div>
                                <div class="form-group col-md-6"><label>Jumlah SKS</label>
                                    <input required id="sks" name="sks" type="number" class="form-control"
                                           placeholder="18*"
                                           max="24">
                                </div>
                            </div>
                            <hr style="width: 100%">
                            <div class="form-group">
                                <div style="padding-bottom: 5%">Hari Libur</div>
                                <div class="form-row"
                                     style="display: flex; flex-direction: row; padding-bottom: 20px; justify-content: center">
                                    <div style="padding-right: 20px" class="form-check">
                                        <input class="form-check-input" class="" type="checkbox" id="form3"
                                               value="Senin"> <label
                                            class="form-check-label" for="form3">
                                        SENIN</label></div>
                                    <div style="padding-right: 20px" class="form-check">
                                        <input class="form-check-input" type="checkbox" id="form4"
                                               value="Selasa"><label
                                            class="form-check-label"
                                            for="form4">
                                        SELASA</label></div>
                                    <div style="padding-right: 20px" class="form-check">
                                        <input class="form-check-input" type="checkbox" id="form5"
                                               value="Rabu"> <label
                                            class="form-check-label"
                                            for="form5">
                                        RABU</label></div>
                                    <div style="padding-right: 20px" class="form-check">
                                        <input class="form-check-input" type="checkbox" id="form6"
                                               value="Kamis"> <label
                                            class="form-check-label"
                                            for="form6">
                                        KAMIS</label></div>
                                    <div style="justify-content: right" class="form-check">
                                        <input class="form-check-input" type="checkbox" id="form7"
                                               value="Jumat"> <label
                                            class="form-check-label"
                                            for="form7">
                                        JUMAT</label></div>

                                </div>
                                <button type="submit" class="btn btn-custom btn-lg page-scroll"><b>Buat Jadwal</b>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script>
    $("#form").on("submit", function () {
        nama = $("#nama").val();
        npm = $("#npm").val();
        sks = $("#sks").val();
        term = $("#term").val();
        libur = [];
        if ($('#form3').prop("checked")) {
            libur.push("Senin");
        }
        if ($('#form4').prop("checked")) {
            libur.push("Selasa");
        }
        if ($('#form5').prop("checked")) {
            libur.push("Rabu");
        }
        if ($('#form6').prop("checked")) {
            libur.push("Kamis");
        }
        if ($('#form7').prop("checked")) {
            libur.push("Jumat");
        }
        libur = libur.toString();
        createSched(sks, term, libur, nama, npm)
    });

    var createSched = function (sks, term, libur, nama, npm) {
        $.ajax({
            method: "POST",
            url: "{% url 'generate' %}",
            data: {
                'sks': sks,
                'term': term,
                'libur': libur,
                'nama': nama,
                'npm': npm
            }
        })
    };
</script>
{% endblock %}
