{% extends "layout/base.html" %}
{% block content %}
<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 intro-text">
                        <h1>Welcome to Jadwal.in!<span></span></h1>
                        <p>We assist you to choose the best</p>
                        <a href="{% url 'form' %}" class="btn btn-custom btn-lg page-scroll">Start!</a></div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
