{% extends "layout/base.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <title>Hasil Jadwal</title>
    <script>
        function tableData(id, x) {
            var outputDiv = document.getElementById();
            outputDiv.innerHTML = document.getElementById("#" + id).innerHTML = 'x';

        }
    </script>
</head>
<body>
<meta charset="UTF-8">
</body>
<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 intro-text">
                        <div style="color: black; justify-content: center; margin-top: -30px">
                            <div style="font-size: 50px; text-align: center;">
                                {{data.nama}}
                            </div>
                            <div style="font-size: 25px; text-align: center;">
                                {{data.npm}}
                            </div>
                            <div style="display: flex; flex-direction: row; justify-content: center">
                                <div style="font-size: 20px; padding: 10px">
                                    SKS: {{data.sks}}
                                </div>
                                <div style="font-size: 20px; padding: 10px">
                                    Term: {{data.term}}
                                </div>
                            </div>
                            {% if jadwal.ans %}
                            <table style="margin-left: 30px;background-color: #ffffff; font-size: 18px; margin-bottom: -150px; text-align: center"
                                   border="3" cellspacing="3">
                                <tr>
                                    <td align="center">
                                    <td style="padding: 1px">08:00 - 09:40
                                    <td style="padding: 1px">10:00 - 10:40
                                    <td style="padding: 1px">11:00 - 12:40
                                    <td style="padding: 1px" rowspan="6" align="center">L<br>U<br>N<br>C<br>H
                                    <td style="padding: 1px">13:00 - 14:40
                                    <td style="padding: 1px">15:00 - 16:40
                                    <td style="padding: 1px">17:00 - 18:40
                                </tr>
                                <tr>
                                    <th style="padding: 3px" align="center">Senin</th>
                                    <td id="S1" align="center">---</td>
                                    <td id="S2" align="center">---</td>
                                    <td id="S3" align="center">---</td>
                                    <td id="S4" align="center">---</td>
                                    <td id="S5" align="center">---</td>
                                    <td id="S6" align="center">---</td>
                                    {%for x, y in jadwal.ans.items%}
                                    {%for m, n in y.items%}
                                    {%if m == "Senin" and n == "08.00 - 09.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('S1');
                                        outputDiv.innerHTML = document.getElementById("S1").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}
                                    {%if m == "Senin" and n == "10.00 - 10.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('S2');
                                        outputDiv.innerHTML = document.getElementById("S2").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}
                                    {%if m == "Senin" and n == "11.00 - 12.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('S3');
                                        outputDiv.innerHTML = document.getElementById("S3").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}
                                    {%if m == "Senin" and n == "13.00 - 14.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('S4');
                                        outputDiv.innerHTML = document.getElementById("S4").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}
                                    {%if m == "Senin" and n == "15.00 - 16.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('S5');
                                        outputDiv.innerHTML = document.getElementById("S5").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}
                                    {%if m == "Senin" and n == "17.00 - 18.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('S6');
                                        outputDiv.innerHTML = document.getElementById("S6").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}

                                    {%endfor%}
                                    {%endfor%}

                                </tr>
                                <tr>
                                    <th style="padding: 3px" align="center">Selasa</th>
                                    <td id="Se1" align="center">---</td>
                                    <td id="Se2" align="center">---</td>
                                    <td id="Se3" align="center">---</td>
                                    <td id="Se4" align="center">---</td>
                                    <td id="Se5" align="center">---</td>
                                    <td id="Se6" align="center">---</td>
                                    {%for x, y in jadwal.ans.items%}
                                    {%for m, n in y.items%}
                                    {%if m == "Selasa" and n == "08.00 - 09.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('Se1');
                                        outputDiv.innerHTML = document.getElementById("Se1").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}
                                    {%if m == "Selasa" and n == "10.00 - 10.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('Se2');
                                        outputDiv.innerHTML = document.getElementById("Se2").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}
                                    {%if m == "Selasa" and n == "11.00 - 12.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('Se3');
                                        outputDiv.innerHTML = document.getElementById("Se3").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}
                                    {%if m == "Selasa" and n == "13.00 - 14.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('Se4');
                                        outputDiv.innerHTML = document.getElementById("Se4").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}
                                    {%if m == "Selasa" and n == "15.00 - 16.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('Se5');
                                        outputDiv.innerHTML = document.getElementById("Se5").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}
                                    {%if m == "Selasa" and n == "17.00 - 18.40"%}
                                    <script>
                                        var outputDiv = document.getElementById('Se6');
                                        outputDiv.innerHTML = document.getElementById("Se6").innerHTML = '{{x}}';
                                    </script>
                                    {%endif%}
                                    {%endfor%}
                                    {%endfor%}

                                </tr>
                                <tr>
                                    <th style="padding: 3px" align="center">Rabu</th>
                                    <td id="R1" align="center">---
                                    <td id="R2" align="center">---
                                    <td id="R3" align="center">---
                                    <td id="R4" align="center">---
                                    <td id="R5" align="center">---
                                    <td id="R6" align="center">---
                                        {%for x, y in jadwal.ans.items%}
                                        {%for m, n in y.items%}
                                        {%if m == "Rabu" and n == "08.00 - 09.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('R1');
                                            outputDiv.innerHTML = document.getElementById("R1").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Rabu" and n == "10.00 - 10.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('R2');
                                            outputDiv.innerHTML = document.getElementById("R2").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Rabu" and n == "11.00 - 12.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('R3');
                                            outputDiv.innerHTML = document.getElementById("R3").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Rabu" and n == "13.00 - 14.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('R4');
                                            outputDiv.innerHTML = document.getElementById("R4").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Rabu" and n == "15.00 - 16.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('R5');
                                            outputDiv.innerHTML = document.getElementById("R5").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Rabu" and n == "17.00 - 18.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('R6');
                                            outputDiv.innerHTML = document.getElementById("R6").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%endfor%}
                                        {%endfor%}

                                </tr>
                                <tr>
                                    <th style="padding: 3px" align="center">Kamis</th>
                                    <td id="K1" align="center">---
                                    <td id="K2" align="center">---
                                    <td id="K3" align="center">---
                                    <td id="K4" align="center">---
                                    <td id="K5" align="center">---
                                    <td id="K6" align="center">---
                                        {%for x, y in jadwal.ans.items%}
                                        {%for m, n in y.items%}
                                        {%if m == "Kamis" and n == "08.00 - 09.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('K1');
                                            outputDiv.innerHTML = document.getElementById("K1").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Kamis" and n == "10.00 - 10.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('K2');
                                            outputDiv.innerHTML = document.getElementById("K2").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Kamis" and n == "11.00 - 12.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('K3');
                                            outputDiv.innerHTML = document.getElementById("K3").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Kamis" and n == "13.00 - 14.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('K4');
                                            outputDiv.innerHTML = document.getElementById("K4").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Kamis" and n == "15.00 - 16.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('K5');
                                            outputDiv.innerHTML = document.getElementById("K5").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Kamis" and n == "17.00 - 18.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('K6');
                                            outputDiv.innerHTML = document.getElementById("K6").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%endfor%}
                                        {%endfor%}

                                </tr>
                                <tr>
                                    <th style="padding: 3px" align="center">Jumat</th>
                                    <td id="J1" align="center">---
                                    <td id="J2" align="center">---
                                    <td id="J3" align="center">---
                                    <td id="J4" align="center">---
                                    <td id="J5" align="center">---
                                    <td id="J6" align="center">---
                                        {%for x, y in jadwal.ans.items%}
                                        {%for m, n in y.items%}
                                        {%if m == "Jumat" and n == "08.00 - 09.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('J1');
                                            outputDiv.innerHTML = document.getElementById("J1").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Jumat" and n == "10.00 - 10.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('J2');
                                            outputDiv.innerHTML = document.getElementById("J2").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Jumat" and n == "11.00 - 12.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('J3');
                                            outputDiv.innerHTML = document.getElementById("J3").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Jumat" and n == "13.00 - 14.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('J4');
                                            outputDiv.innerHTML = document.getElementById("J4").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Jumat" and n == "15.00 - 16.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('J5');
                                            outputDiv.innerHTML = document.getElementById("J5").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%if m == "Jumat" and n == "17.00 - 18.40"%}
                                        <script>
                                            var outputDiv = document.getElementById('J6');
                                            outputDiv.innerHTML = document.getElementById("J6").innerHTML = '{{x}}';
                                        </script>
                                        {%endif%}
                                        {%endfor%}
                                        {%endfor%}

                                </tr>
                            </table>
                            {% else %}
                            <div class="alert alert-danger text-center" style="padding: 10px; justify-content: center">
                                <strong>Oops!</strong> Tidak menemukan jadwal.
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
{% endblock %}
